html, body,
ul, ol, li,
h1, h2, h3, p, a, div {
  margin: 0;
  padding: 0;
}

html {

}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

ul {

}

ol {

}

li {

}

h1 {

}

h2 {

}

h3 {

}

p {

}

a {

}

div {

}

.container {
	width: 1170px;
	margin: 0 auto;
}



header {
	height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.title {
	float: left;
	line-height: 65px;
	padding: 0 25px;
	color: white;
}

.title-text {
	float: left;
	line-height: 65px;
	padding: 0 25px;
	color: white;
}



.main-wrapper {
	width: 100%;
	padding: 90px 0 100px 0;
}

.explain {
	line-height: 50px;
	padding: 10px 25px;
	font-size: 20px;
	margin-left: 50px;
	margin-right: 50px;
	border-color: #AAAAAA;
	border-bottom-style: solid;
}

.phase {
	width: auto;
	height: auto;
	border-color: #AAAAAA;
	border-bottom-style: hidden;
	padding: 10px 10px 10px 15px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 15px;
}

.heading {
	font-size: 18px;
	width: 35%;
	margin-bottom: 12px;
	border-bottom-style: solid;
	border-color: brown;
	border-width: 1px;
}

.heading h2 {
	display: inline-block;
	border-bottom-style: solid;
	border-color: brown;
}

.text {
	width: auto;
	font-size: 12px;
}

.text p{
	height: 15px;
	line-height: 15px;
	border-bottom-style: dotted;
	border-color: brown;
}



footer {

}
